@font-face {
    font-family: 'Press Start 2P', system-ui;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}


@font-face {
    font-family: 'Play', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Play&display=swap');
}

@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&display=swap');;
}

body {
    background: rgb(26,66,66);
}

h1 {
    font-family: Helvetica;
    font-size: 300%;
    color: whitesmoke;
}

h3 {
    font-family: Helvetica;
    color: gainsboro;
}

a {
    color:palegreen;
}

img{
    user-select: none;
    pointer-events: none;
}

input:focus::placeholder {
    color: transparent;
}

.main_info {
    width: 50%;
    margin: auto;
}

.title {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 500%;

    margin-bottom: 0px;
    margin-top: 10px;
}

.subtitle {
    margin-top: 0px;
    font-family: 'Play';
    text-align: center;
}

.game { 
    width: 50%;
    margin: auto;
    user-select: none;
}

.element {
    width: 150px;
    height: 150px;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 75px;
    background-color: rgb(135, 206, 250);

    position: relative;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.element_letter {
    padding-top: 45px;
    font-size: 400%;
    font-family: 'Helvetica';
    text-align: center;
    color: rgb(40, 40, 40);
}

.element_number {
    position: absolute;
    left: 5%;
    top: -25%;

    font-size: 200%;
    font-family: 'Helvetica';
    text-align: left;
    color: rgb(40, 40, 40);
}

.answer {
    width: 50%;
    padding: 12px 20px;
    background-color: black;
    color: white;

    box-sizing: border-box;
    border: 3px solid darkgray;
    border-radius: 10px;

    text-align: center;
    
    display: block;
    margin: auto;
}

.button {
    font-family: "Play", sans-serif;

    width: 20%;
    padding: 7px 7px;
    background-color: rgb(40, 165, 40);
    color: white;

    box-sizing: border-box;
    border: 2px solid rgb(27, 179, 27);
    border-radius: 5px;

    text-align: center;
    
    display: block;
    margin: auto;
    margin-top: 15px;

    cursor: pointer;

}

.button:hover{
    background-color: rgb(73, 199, 73);
}

.reset {
    font-family: "Play", sans-serif;

    width: 20%;
    padding: 7px 7px;
    background-color: rgb(209, 157, 24);
    color: white;

    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 5px;

    text-align: center;
    
    display: block;
    margin: auto;
    margin-top: 15px;

    cursor: pointer;
}

.reset:hover {
    background-color: rgb(218, 166, 34);

}

.feedback
{
    font-family: 'Play', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 15px;

    position: absolute;
    width: 100%;
    left: 0%;
    top: 50%;
}

.feedback_hide
{
    display: none;
}

.feedback_show
{
    display: block;
}

.footer
{
    font-family: 'Press Start 2P';
    font-size:xx-small;
    background-color: rgb(20, 20, 20);
    color: darkgray;

    position: absolute;
    left: 0px;
    bottom: -0px;
    width: 100%;
    height: 30px;
}

.footer_text
{
    display: block;
    margin: auto;
    text-align: center;
    
}

.game_over
{
    display: block;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.game_over_text
{
    font-family: 'Press Start 2P';
    color:palegreen;
}

.points
{
    white-space: nowrap;
    
    position: absolute;
    top: 10px;
    left: 10px;
}

.points_text
{
    font-family: 'Press Start 2P';
    color:palegreen;
}


.help_icon
{
    position: absolute;
    width: 30px;
    height: 30px;

    left: 10px;
    top: 10px;
    cursor: pointer;
}

.settings_icon
{
    position: absolute;
    width: 30px;
    height: 30px;
    
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.help_menu {
    display: none;
    position: fixed;
    padding: 30px;
    width: 400px;
    left: 45%;
    margin-left: -150px;
    height: 400px;
    top: 30%;
    margin-top: -100px;
    background: rgb(40, 40, 40);
    z-index: 20;

    font-family: "Play", sans-serif;
    color: lightgray;
}

#help_menu:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(40, 40, 40);
    z-index: -1;
}

#help_menu:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}
  
.x_icon{
    position: absolute;
    width: 20px;
    height: 20px;
    
    right: 10px;
    top: 10px;
    cursor: pointer;
}